/* styles.css */
body {
    font-family: 'Kay Pho Du' !important;
    overflow-x: hidden;
}


/* Bu font register bilen login pagelar ucin, sebabi uytgeyan ekeni */
.font-outfit {
    font-family: 'Outfit' !important;
}

.font-inter {
    font-family: 'Inter' !important;
}

/* .fade-out {
    animation: fadeOut 0.5s forwards;
}

.fade-in {
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
} */
/*For header*/
.hover-effect:hover {
    transform: scale(1.1);
    transition: transform 0.4s ease;
    color: white !important;
    background-color: #FFA000;
}

.arrow {
    font-size: 14px;
    margin-left: 5px;
    transition: transform 0.3s ease;

}

.dropdown-menu.show .arrow {
    transform: rotate(180deg);
}

/*for index, su asakdakylar hemmesi alymlaryn animasiyasyna degisli index.html*/
.hover-container {
    width: 22vw;
    overflow: hidden;
}

.shorts-container {
    width: 8vw;
    overflow: hidden;
}

.humanity-container {
    width: 30vw;
    overflow: hidden;
}

.image-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    /* Ensures the image fits nicely inside the container */
}

/* Image-yn ustune eldende cykyan yazgy  */
.hover-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 16px;
    transform: translateY(100%);
    transition: transform 0.5s ease;
    border-radius: 0px 0px 10px 10px;

}

.image-wrapper:hover .hover-text {
    transform: translateY(0);
}


/*for library*/
.card-img-top {
    height: 70%;
    object-fit: cover;
}

.card-book {
    height: 500px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;

}

.card-book:hover {
    transform: scale(1.1);
}

.star {
    color: #FF9431;
    margin-right: 5px;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
}

.downloader {
    background-color: #B2EBF2;
    border: none;
    padding: 5px 15px;
    transition: background-color 0.3s ease;
}

.downloader:hover {
    background-color: #FFA000;
    color: white;
}

/*Poisk*/
.dropdown-menu .dropdown-item {
    transition: all 0.3s ease;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #FFA000;
    color: white;
    transform: scale(1.05);
}

.form-control {
    box-shadow: none !important;
}

.expand-input {
    width: 250px;
    transition: width 0.3s ease;
}

.expand-input:focus {
    width: 300px;
}

/* for Video player */

/* Container Styling */
.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 90%;
    margin: 0 auto; 
    aspect-ratio: 16 / 9; 
    overflow: hidden; 
  }
  
  /* Video Styling */
  .video-js {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    background-color: black; 
  }
  
.shorts-js {
    width: 25vw;
    height: 80vh;
}

textarea {
    resize: none;
}

/* Bu custom class-lar, default renkler esasy ulanylyan! */

.border-gray {
    border: #ACACAC solid 1px;
}

.bg-gray {
    background: #ACACAC;
}

.text-small {
    text-decoration-color: #ACACAC;
    color: #ACACAC;
}

/* Bu asakdakyny bolsa bilemok */

#languageImage:hover {
    cursor: pointer;
}

/*admin for table*/
 table {
            width: 100%;
            margin-top: 20px;
            text-align: center;
            border-collapse: collapse; /* Чтобы границы ячеек не удваивались */
        }

        /* Границы всех ячеек */
        th, td {
            border: 1px solid black;
        }

        /* Стили для контейнера изображения */
        .image-container {
            overflow: hidden;
            width: 100px;
            height: 100px;
            cursor: pointer; /* Курсор указывает, что можно кликнуть */
            border: 1px solid black; /* Граница для контейнера изображения */
        }

        .image-container img {
            width: 100%;
            height: 100%;
            object-fit: cover; /* Изображение будет обрезано, но сохраняет пропорции */
            border-radius: 50%; /* Картинка круглая */
            transition: transform 0.3s ease;
        }

        /* Стили для увеличенной картинки */
        .large-image {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;  /* Устанавливаем ширину картинки на 100% от ширины экрана */
            height: 100vh; /* Устанавливаем высоту картинки на 100% от высоты экрана */
            z-index: 9999; /* Картинка будет поверх всего остального */
            background-color: rgba(0, 0, 0, 0.7); /* Полупрозрачный фон */
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            display: none; /* Скрыто по умолчанию */
            justify-content: center;
            align-items: center;
            overflow: hidden;
        }

        .large-image img {
            width: 45%;  /* Ограничиваем максимальную ширину изображения */
            height: 90%; /* Ограничиваем максимальную высоту изображения */
            object-fit: cover; /* Изображение будет обрезано, но сохраняет пропорции */
            border-radius: 50%; /* Картинка круглой формы */
        }

        /* Стили для иконки корзины */
        .cart-icon {
            font-size: 1.5rem;
            cursor: pointer;
            transition: color 0.3s ease;
        }

        .cart-icon:hover {
            color: red;
        }